fastapi
uvicorn
python-dotenv
langchain-groq
langchain-openai
langchain-community
langchain-pinecone
langchain-voyageai
langchain-text-splitters
langgraph
langchain-tavily
pinecone
youtube-transcript-api
